doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/favorit/favorit.pug
    include ../components/russia/russia.pug
    include ../components/resources/resources.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        main.page__wrapper
            +header()
            +favorit()
            +russia()
            +resources()


            .page__buffer

        .page__footer
            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
