// Common styles of the project
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}
html, body {
    height: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    display: inline-block;
}
.page {

}

.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 50px;
}
.row{
    width: 960px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    @include cf;
}
.left{
    float: left;
}
.right{
    float: right;
}
.title{
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -0.48px;
    line-height: 54px;
    color: $dark;
    text-align: center;
}
.sprite{
    background-image: url("../../static/img/general/sprite2.png");
    background-repeat: no-repeat;
    margin: auto;
}
@media (max-width: 960px) {
    .row{
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }
    .right{
        float: right;

    }
    .title{
        font-size: 40px;
    }
}

@media (max-width: 480px) {

}
