mixin section1(data)
    section.section1
        .row.section1__content
            .section1__left
                h2.title.title_section1 Azure Marketplace
                p.section1__left__text  Магазин Azure Marketplace представляет собой каталог решений, сервисов, образов окружений разнообразной сложности, готовых для быстрого автоматического развертывания на платформе Azure. 


                p.section1__left__text  Основная идея Azure Marketplace – дать независимому разработчику канал продаж своих решений по всему миру, а клиентам Azure – легкий способ развернуть функциональные решения в собственной инфраструктуре.
