mixin russia(data)
    section.russia
        .row
            .russia__image.left
                .sprite.sprite_russia
            p.russia__text.right   Решения в Azure Marketplace из России. Познакомьтесь с лучшими российскими решениями уже размещенными в
                a(href="").russia__text__link   магазине Azure Marketplace.
