mixin decision(data)
    section.decision
        .row
            h2.title.title__decision  Как приобрести решение?
        .row
            ul.decision__list
                li
                    .decision__list__num     1
                    .decision__list__text   Войдите  на портал
                li
                    .decision__list__num     2
                    .decision__list__text   Выберете решение
                li
                    .decision__list__num     3
                    .decision__list__text   Создание            виртуальной машины
                li
                    .decision__list__num     4
                    .decision__list__text   Подтверждение
                li
                    .decision__list__num     5
                    .decision__list__text   Развертывание
