.azure-header{
    height: 69px;
    border-bottom: 5px #eee solid;
   // position: fixed;
    width: 100%;
    line-height: 69px;
    color: $lgray;
    font-size: 16px;
    font-weight: 400;
}
.header{
    &__logo{
        width: 94px;
        height: 20px;
        background-size:cover;
        background:url("../../static/img/general/Logo.png") no-repeat;
        text-visibility: hidden;
        overflow: hidden;
        margin-top: 24px;
    }
    &__social{
        a{
            color: $white;
        }
    }
}

.social-icon{
    margin-left: 8px;
    margin-bottom: -5px;
    display: inline-block;
    width: 23px;
    height: 23px;
    overflow: hidden;
    line-height: 23px;
    text-align: center;
    font-weight: bold;



    &_fb{
        background:#2d5daf;
        &:hover{
            background: lighten(#2d5daf,10%);
        }
    }
    &_vk{
        background:#587a9e;
        &:hover{
            background: lighten(#587a9e,10%);
        }
    }
}
@media (max-width: 480px) {
    .header__social{
        span{
            display: none;
        }
    }
}
