mixin header(data)
    header.azure-header
        .row
            a(href="#").header__logo.left   Microsoft

            .header__social.right
                span    Мы в социальных сетях:
                a(href="#").social-icon.social-icon_fb    f
                a(href="#").social-icon.social-icon_vk    B
