.title_resources{
    text-align: left;
    padding-top: 55px;
    padding-bottom: 55px;
}
.resources{
    &__item{
        display: inline-block;
        padding: 20px 40px;
        border: $blue solid 2px;
        color: $blue;
        transition: all .3s;
        margin-right: 22px;
        margin-bottom: 25px;
        font-weight: bold;
        &_one{
            width: 557px;

        }
        &_two{
            width: 380px;
        }
        &_three{
            width: 338px;
        }
        &_four{
            width: 364px;
        }
        &_five{
            width: 210px;
        }
        &:nth-child(2),&:nth-child(5){
            margin-right: 0;
        }
        &:hover{
            background-color: $green;
            border-color: $green;
            color: $white;
        }
    }
}
