.title_resources{
    text-align: left;
    padding-top: 16px;
    padding-bottom: 30px;
}
.resources{
    &__item{
        display: inline-block;
        padding: 20px 40px;
        border: $blue solid 2px;
        color: $blue;
        transition: all .3s;

        margin-bottom: 25px;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;

        &_one{
            width: 556px;
            margin-right: 22px;
        }
        &_two{
            width: 380px;
            margin-right: 0;

        }
        &_three{
            width: 336px;
            margin-right: 24px;
        }
        &_four{
            width: 364px;
            margin-right: 24px;
        }
        &_five{
            width: 209px;
            margin-right: 0;

        }

        &:hover{
            background-color: $green;
            border-color: $green;
            color: $white;
        }
    }
}
@media (max-width: 480px) {

}
