mixin resources(data)
    section.resources
        .row
            h2.title.title_resources    Полезные ресуры
            ul
                li
                    a(href="#").resources__item.resources__item_one Запись вебинара на CH9 - Подробно о магазине облачных решений Azure Marketplace: Что, Зачем, Как?
                    a(href="#").resources__item.resources__item_two Каталог виртуальных машин в Azure Marketplace
                    a(href="#").resources__item.resources__item_three Предложить дополнительные образы виртуальных машин
                    a(href="#").resources__item.resources__item_four Подробнее о том, как выполнить интеграцию с Marketplace
                    a(href="#").resources__item.resources__item_five Презентация со слайдами

